<p class="post-date text-bold">
  {% if page.author %}
    <span class="text-upcase">{{ page.author }}</span> / 
  {% endif %}
  {% if page.date %}
    <span class="text-upcase">{{ page.date | date: "%B %Y"}}</span>
  {% endif %}

{% if site.theme_config.show_reading_time == true %}
  {% capture words %}
  {{ content | number_of_words | minus: 238 }}
  {% endcapture %}
  {% unless words contains '-' %}
  {{ words | strip | prepend: '(' | append: ' Words, ' }}
  {{ words | plus: 238 | divided_by: 238 | append: ' Minutes)' }}
  {% endunless %}
{% endif %}
</p>
